# Core Data Pipeline
requests==2.34.2
pandas==2.3.3
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
python-dotenv==1.2.3

# Data Quality & Testing
great-expectations==0.18.22
pytest==8.3.3

# Terminal Database Client
pgcli==4.5.0
